@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-popup-content {
        max-width: 800px;
        max-height: none;
        max-height: unset;
        overflow-y: initial;
    }
}

@media screen and (min-width: 783px) {
    .hustle-layout {
        max-height: none;
        max-height: unset;
    }
}

.hustle-ui.module_id_1 {
    padding-right: 15px;
    padding-left: 15px;
}

.hustle-ui.module_id_1 .hustle-popup-content .hustle-info,
.hustle-ui.module_id_1 .hustle-popup-content .hustle-optin {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-popup-content .hustle-info,
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-popup-content .hustle-optin {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-layout-body {
    margin: 0px 0px 0px 0px;
    padding: 60px 40px 60px 40px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 0px 0px #ffffff;
    box-shadow: 0px 0px 0px 0px #ffffff;
    background-image: url(https://hapitate.com/Assets/plugins/wordpress-popup/assets/images/templates-images/foodie-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-clip: padding-box;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-layout-body {
        margin: 0px 0px 0px 0px;
        padding: 12.5% 6.2% 12.5% 47.7%;
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        -moz-box-shadow: -15px 15px 0px 0px #ffffff;
        -webkit-box-shadow: -15px 15px 0px 0px #ffffff;
        box-shadow: -15px 15px 0px 0px #ffffff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-layout-content {
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-layout-content {
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-content {
    margin: 0px 0px 0px 0px;
    padding: 0 0px 0 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.hustle-ui.module_id_1 .hustle-layout .hustle-content .hustle-content-wrap {
    padding: 0px 0 15px 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-content {
        margin: 0px 0px 0px 0px;
        padding: 0 0% 0 13.5%;
        border-width: 0px 0px 0px 1px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-content .hustle-content-wrap {
        padding: 2% 0 5% 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-title {
    display: block;
    margin: 0px 0px 7px 0px;
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font: 600 14px/21px Titillium Web;
    font-style: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-title {
        margin: 0px 0px 7px 0px;
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        font: 600 14px/21px Titillium Web;
        font-style: normal;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-subtitle {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    font: 700 38px/46px Titillium Web;
    font-style: normal;
    letter-spacing: -0.73px;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-subtitle {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        font: 700 38px/46px Titillium Web;
        font-style: normal;
        letter-spacing: -0.73px;
        text-transform: none;
        text-decoration: none;
        text-align: left;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content {
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    border-color: rgba(0, 0, 0, 0);
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    color: #ffffff;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content b,
.hustle-ui.module_id_1 .hustle-layout .hustle-group-content strong {
    font-weight: bold;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content a,
.hustle-ui.module_id_1 .hustle-layout .hustle-group-content a:visited {
    color: #38C5B5;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content a:hover {
    color: #2DA194;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content a:focus,
.hustle-ui.module_id_1 .hustle-layout .hustle-group-content a:active {
    color: #2DA194;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content {
        margin: 20px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        border-style: solid;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content {
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-family: Titillium Web;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content {
        font-size: 16px;
        line-height: 26px;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content p:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: normal 16px/26px Titillium Web;
    font-style: normal;
    letter-spacing: -0.25px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content p:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content p:not([class*="forminator-"]) {
        margin: 0 0 10px;
        font: normal 16px/26px Titillium Web;
        font-style: normal;
        letter-spacing: -0.25px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content p:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h1:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 28px/1.4em Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h1:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h1:not([class*="forminator-"]) {
        margin: 0 0 10px;
        font: 700 28px/1.4em Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h1:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h2:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font-size: 22px;
    line-height: 1.4em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h2:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h2:not([class*="forminator-"]) {
        margin: 0 0 10px;
        font-size: 22px;
        line-height: 1.4em;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h2:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h3:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 18px/1.4em Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h3:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h3:not([class*="forminator-"]) {
        margin: 0 0 10px;
        font: 700 18px/1.4em Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h3:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h4:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 16px/1.4em Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h4:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h4:not([class*="forminator-"]) {
        margin: 0 0 10px;
        font: 700 16px/1.4em Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h4:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h5:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 14px/1.4em Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h5:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h5:not([class*="forminator-"]) {
        margin: 0 0 10px;
        font: 700 14px/1.4em Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h5:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h6:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 12px/1.4em Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content h6:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h6:not([class*="forminator-"]) {
        margin: 0 0 10px;
        font: 700 12px/1.4em Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content h6:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content ol:not([class*="forminator-"]),
.hustle-ui.module_id_1 .hustle-layout .hustle-group-content ul:not([class*="forminator-"]) {
    margin: 0 0 10px;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content ol:not([class*="forminator-"]):last-child,
.hustle-ui.module_id_1 .hustle-layout .hustle-group-content ul:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content li:not([class*="forminator-"]) {
    margin: 0 0 5px;
    color: #ffffff;
    font: 400 14px/1.45em Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content li:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content ol:not([class*="forminator-"]) li:before {
    color: #ADB5B7
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content ul:not([class*="forminator-"]) li:before {
    background-color: #ADB5B7
}

@media screen and (min-width: 783px) {

    .hustle-ui.module_id_1 .hustle-layout .hustle-group-content ol:not([class*="forminator-"]),
    .hustle-ui.module_id_1 .hustle-layout .hustle-group-content ul:not([class*="forminator-"]) {
        margin: 0 0 20px;
    }

    .hustle-ui.module_id_1 .hustle-layout .hustle-group-content ol:not([class*="forminator-"]):last-child,
    .hustle-ui.module_id_1 .hustle-layout .hustle-group-content ul:not([class*="forminator-"]):last-child {
        margin: 0;
    }
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content li:not([class*="forminator-"]) {
        margin: 0 0 5px;
        font: 400 14px/1.45em Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-group-content li:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content blockquote {
    margin-right: 0;
    margin-left: 0;
}

.hustle-ui.module_id_1 button.hustle-button-close {
    color: #ffffff;
}

.hustle-ui.module_id_1 button.hustle-button-close:hover {
    color: #ffffff;
}

.hustle-ui.module_id_1 button.hustle-button-close:focus {
    color: #ffffff;
}

.hustle-ui.module_id_1 .hustle-popup-mask {
    background-color: rgba(237, 242, 180, 0.85);
}

.hustle-ui.module_id_1 .hustle-layout .hustle-layout-form {
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-layout-form {
        margin: 0px 0px 0px 0px;
        padding: 2% 0% 5% 13.5%;
        border-width: 0px 0px 0px 1px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
    }
}

.hustle-ui.module_id_1 .hustle-form .hustle-form-fields {
    display: block;
}

.hustle-ui.module_id_1 .hustle-form .hustle-form-fields .hustle-field {
    margin-bottom: 5px;
}

.hustle-ui.module_id_1 .hustle-form .hustle-form-fields .hustle-button {
    width: 100%;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-form-fields {
        display: -webkit-box;
        display: -ms-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: -0px;
        margin-bottom: -0px;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-form-fields .hustle-field {
        min-width: 100px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-form-fields .hustle-button {
        width: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.hustle-ui.module_id_1 .hustle-field .hustle-input {
    margin: 0;
    padding: 8px 14px 8px 14px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    color: #ffffff;
    font: 300 16px/26px Titillium Web;
    font-style: normal;
    letter-spacing: -0.25px;
    text-transform: none;
    text-align: left;
}

.hustle-ui.module_id_1 .hustle-field .hustle-input:hover {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

.hustle-ui.module_id_1 .hustle-field .hustle-input:focus {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

.hustle-ui.module_id_1 .hustle-field-error.hustle-field .hustle-input {
    border-color: #e12e2e !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.hustle-ui.module_id_1 .hustle-field .hustle-input+.hustle-input-label [class*="hustle-icon-"] {
    color: #ffffff;
}

.hustle-ui.module_id_1 .hustle-field .hustle-input:hover+.hustle-input-label [class*="hustle-icon-"] {
    color: #ffffff;
}

.hustle-ui.module_id_1 .hustle-field .hustle-input:focus+.hustle-input-label [class*="hustle-icon-"] {
    color: #ffffff;
}

.hustle-ui.module_id_1 .hustle-field-error.hustle-field .hustle-input+.hustle-input-label [class*="hustle-icon-"] {
    color: #e12e2e;
}

.hustle-ui.module_id_1 .hustle-field .hustle-input+.hustle-input-label {
    padding: 8px 14px 8px 14px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: transparent;
    color: #9fa1a5;
    font: 300 16px/26px Titillium Web;
    font-style: normal;
    letter-spacing: -0.25px;
    text-transform: none;
    text-align: left;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-field .hustle-input {
        padding: 8px 14px 8px 14px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        font: 300 16px/26px Titillium Web;
        font-style: normal;
        letter-spacing: -0.25px;
        text-transform: none;
        text-align: left;
    }
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-field .hustle-input+.hustle-input-label {
        padding: 8px 14px 8px 14px;
        border-width: 1px 1px 1px 1px;
        font: 300 16px/26px Titillium Web;
        font-style: normal;
        letter-spacing: -0.25px;
        text-transform: none;
        text-align: left;
    }
}

.hustle-ui.module_id_1 .hustle-select2+.select2 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.hustle-ui.module_id_1 .hustle-select2+.select2 .select2-selection--single {
    margin: 0;
    padding: 0 14px 0 14px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #B0BEC6;
    border-radius: 0px 0px 0px 0px;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-select2+.select2 .select2-selection--single .select2-selection__rendered {
    padding: 8px 0 8px 0;
    color: #5D7380;
    font: 300 16px/26px Titillium Web;
    font-style: normal;
}

.hustle-ui.module_id_1 .hustle-select2+.select2 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    color: #AAAAAA;
}

.hustle-ui.module_id_1 .hustle-select2+.select2:hover .select2-selection--single {
    border-color: #4F5F6B;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-select2+.select2.select2-container--open .select2-selection--single {
    border-color: #4F5F6B;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-select2.hustle-field-error+.select2 .select2-selection--single {
    border-color: #D43858 !important;
    background-color: #FFFFFF !important;
}

.hustle-ui.module_id_1 .hustle-select2+.select2+.hustle-input-label {
    color: #AAAAAA;
    font: 300 16px/26px Titillium Web;
    font-style: normal;
    letter-spacing: -0.25px;
    text-transform: none;
    text-align: left;
}

.hustle-ui.module_id_1 .hustle-select2+.select2 .select2-selection--single .select2-selection__arrow {
    color: #38C5B5;
}

.hustle-ui.module_id_1 .hustle-select2+.select2:hover .select2-selection--single .select2-selection__arrow {
    color: #49E2D1;
}

.hustle-ui.module_id_1 .hustle-select2+.select2.select2-container--open .select2-selection--single .select2-selection__arrow {
    color: #49E2D1;
}

.hustle-ui.module_id_1 .hustle-select2.hustle-field-error+.select2 .select2-selection--single .select2-selection__arrow {
    color: #D43858 !important;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-select2+.select2 {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-select2+.select2 .select2-selection--single {
        padding: 0 14px 0 14px;
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-select2+.select2 .select2-selection--single .select2-selection__rendered {
        padding: 8px 0 8px 0;
        font: 300 16px/26px Titillium Web;
        font-style: normal;
        letter-spacing: -0.25px;
        text-transform: none;
        text-align: left;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-select2+.select2+.hustle-input-label {
        font: 300 16px/26px Titillium Web;
        font-style: normal;
        letter-spacing: -0.25px;
        text-transform: none;
        text-align: left;
    }
}

.hustle-module-1.hustle-dropdown {
    background-color: #FFFFFF;
}

.hustle-module-1.hustle-dropdown .select2-results .select2-results__options .select2-results__option {
    color: #5D7380;
    background-color: transparent;
}

.hustle-module-1.hustle-dropdown .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
    color: #FFFFFF;
    background-color: #ADB5B7;
}

.hustle-module-1.hustle-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected="true"] {
    color: #FFFFFF;
    background-color: #38C5B5;
}

.hustle-ui.module_id_1 .hustle-timepicker .ui-timepicker {
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-timepicker .ui-timepicker .ui-timepicker-viewport a {
    color: #5D7380;
    background-color: transparent;
}

.hustle-ui.module_id_1 .hustle-timepicker .ui-timepicker .ui-timepicker-viewport a:hover,
.hustle-ui.module_id_1 .hustle-timepicker .ui-timepicker .ui-timepicker-viewport a:focus {
    color: #FFFFFF;
    background-color: #ADB5B7;
}

.hustle-ui.module_id_1 .hustle-form .hustle-radio span[aria-hidden] {
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #B0BEC6;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-form .hustle-radio span:not([aria-hidden]) {
    color: #FFFFFF;
    font: 400 12px/20px Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.hustle-ui.module_id_1 .hustle-form .hustle-radio input:checked+span[aria-hidden] {
    border-color: #4F5F6B;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-form .hustle-radio input:checked+span[aria-hidden]:before {
    background-color: #38C5B5;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-radio span[aria-hidden] {
        border-width: 0px 0px 0px 0px;
        border-style: solid;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-radio span:not([aria-hidden]) {
        font: 400 12px/20px Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
        text-align: left;
    }
}

.hustle-ui.module_id_1 .hustle-form .hustle-checkbox:not(.hustle-gdpr) span[aria-hidden] {
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #B0BEC6;
    border-radius: 0px 0px 0px 0px;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-form .hustle-checkbox:not(.hustle-gdpr) span:not([aria-hidden]) {
    color: #FFFFFF;
    font: 400 12px/20px Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.hustle-ui.module_id_1 .hustle-form .hustle-checkbox:not(.hustle-gdpr) input:checked+span[aria-hidden] {
    border-color: #4F5F6B;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-form .hustle-checkbox:not(.hustle-gdpr) input:checked+span[aria-hidden]:before {
    color: #38C5B5;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-checkbox:not(.hustle-gdpr) span[aria-hidden] {
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-checkbox:not(.hustle-gdpr) span:not([aria-hidden]) {
        font: 400 12px/20px Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
        text-align: left;
    }
}

.hustle-module-1.hustle-calendar:before {
    background-color: #FFFFFF;
}

.hustle-module-1.hustle-calendar .ui-datepicker-header .ui-datepicker-title {
    color: #35414A;
}

.hustle-module-1.hustle-calendar .ui-datepicker-header .ui-corner-all,
.hustle-module-1.hustle-calendar .ui-datepicker-header .ui-corner-all:visited {
    color: #5D7380;
}

.hustle-module-1.hustle-calendar .ui-datepicker-header .ui-corner-all:hover {
    color: #5D7380;
}

.hustle-module-1.hustle-calendar .ui-datepicker-header .ui-corner-all:focus,
.hustle-module-1.hustle-calendar .ui-datepicker-header .ui-corner-all:active {
    color: #5D7380;
}

.hustle-module-1.hustle-calendar .ui-datepicker-calendar thead th {
    color: #35414A;
}

.hustle-module-1.hustle-calendar .ui-datepicker-calendar tbody tr td a,
.hustle-module-1.hustle-calendar .ui-datepicker-calendar tbody tr td a:visited {
    background-color: #FFFFFF;
    color: #5D7380;
}

.hustle-module-1.hustle-calendar .ui-datepicker-calendar tbody tr td a:hover {
    background-color: #38C5B5;
    color: #FFFFFF;
}

.hustle-module-1.hustle-calendar .ui-datepicker-calendar tbody tr td a:focus,
.hustle-module-1.hustle-calendar .ui-datepicker-calendar tbody tr td a:active {
    background-color: #38C5B5;
    color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-form button.hustle-button-submit {
    padding: 9px 9px 9px 9px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #edf2b4;
    border-radius: 0px 0px 0px 0px;
    background-color: #edf2b4;
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    color: #22264b;
    font: 600 14px/22px Titillium Web;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-form button.hustle-button-submit:hover {
    border-color: #e3ec88;
    background-color: #e3ec88;
    color: #22264b;
}

.hustle-ui.module_id_1 .hustle-form button.hustle-button-submit:focus {
    border-color: #4d99f7;
    background-color: #edf2b4;
    color: #22264b;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form button.hustle-button-submit {
        padding: 9px 9px 9px 9px;
        border-width: 2px 2px 2px 2px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        font: 600 14px/22px Titillium Web;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.hustle-ui.module_id_1 .hustle-form .hustle-form-options {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 0px 0px;
    background-color: #35414A;
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-form-options {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}

.hustle-ui.module_id_1 .hustle-form .hustle-form-options .hustle-group-title {
    display: block;
    margin: 0 0 20px;
    padding: 0;
    border: 0;
    color: #FFFFFF;
    font: bold 13px/22px Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-form .hustle-form-options .hustle-group-title {
        font: bold 13px/22px Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
        text-align: left;
    }
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr {
    margin: 0px 0px 0px 0px;
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr span[aria-hidden] {
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #B0BEC6;
    border-radius: 0px 0px 0px 0px;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr span[aria-hidden]:before {
    color: #38C5B5;
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr span:not([aria-hidden]) {
    color: #FFFFFF;
    font: 400 12px/1.7em Open Sans;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr span:not([aria-hidden]) a {
    color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr span:not([aria-hidden]) a:hover {
    color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr span:not([aria-hidden]) a:focus {
    color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr input:checked+span[aria-hidden] {
    border-color: #4F5F6B;
    background-color: #FFFFFF;
}

.hustle-ui.module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr.hustle-field-error+span[aria-hidden] {
    border-color: #D43858 !important;
    background-color: #FFFFFF !important;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr {
        margin: 0px 0px 0px 0px;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr span[aria-hidden] {
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout-form .hustle-checkbox.hustle-gdpr span:not([aria-hidden]) {
        font: 400 12px/1.7em Open Sans;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
        text-align: left;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-error-message {
    margin: 20px 0px 0px 0px;
    background-color: #FFFFFF;
    box-shadow: inset 4px 0 0 0 #e12e2e;
    -moz-box-shadow: inset 4px 0 0 0 #e12e2e;
    -webkit-box-shadow: inset 4px 0 0 0 #e12e2e;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-error-message p {
    color: #e12e2e;
    font: 400 12px/20px Titillium Web;
    font-style: normal;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-error-message {
        margin: 20px 0px 0px 0px;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-layout .hustle-error-message p {
        font: 400 12px/20px Titillium Web;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
        text-align: left;
    }
}

.hustle-ui.module_id_1 .hustle-success {
    padding: 60px 30px 60px 30px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    border-color: rgba(0, 0, 0, 0);
    background-color: #0b0c19;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    color: #ffffff;
}

.hustle-ui.module_id_1 .hustle-success [class*="hustle-icon-"] {
    color: #edf2b4;
}

.hustle-ui.module_id_1 .hustle-success a,
.hustle-ui.module_id_1 .hustle-success a:visited {
    color: #38C5B5;
}

.hustle-ui.module_id_1 .hustle-success a:hover {
    color: #2DA194;
}

.hustle-ui.module_id_1 .hustle-success a:focus,
.hustle-ui.module_id_1 .hustle-success a:active {
    color: #2DA194;
}

.hustle-ui.module_id_1 .hustle-success-content b,
.hustle-ui.module_id_1 .hustle-success-content strong {
    font-weight: bold;
}

.hustle-ui.module_id_1 .hustle-success-content blockquote {
    margin-right: 0;
    margin-left: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success {
        padding: 40px 80px 40px 80px;
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-radius: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}

.hustle-ui.module_id_1 .hustle-success-content {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.45em;
    font-family: Titillium Web;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content {
        font-size: 14px;
        line-height: 1.45em;
    }
}

.hustle-ui.module_id_1 .hustle-success-content p:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 400 14px/1.45em Titillium Web;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-success-content p:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content p:not([class*="forminator-"]) {
        margin-bottom: 20px;
        font: 400 14px/1.45em Titillium Web;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content p:not([class*="forminator-"]):last-child {
        margin-bottom: 0
    }
}

.hustle-ui.module_id_1 .hustle-success-content h1:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 28px/1.4em Open Sans;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-success-content h1:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h1:not([class*="forminator-"]) {
        margin-bottom: 20px;
        font: 700 28px/1.4em Open Sans;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h1:not([class*="forminator-"]):last-child {
        margin-bottom: 0
    }
}

.hustle-ui.module_id_1 .hustle-success-content h2:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 22px/1.4em Open Sans;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-success-content h2:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h2:not([class*="forminator-"]) {
        margin-bottom: 20px;
        font: 700 22px/1.4em Open Sans;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h2:not([class*="forminator-"]):last-child {
        margin-bottom: 0
    }
}

.hustle-ui.module_id_1 .hustle-success-content h3:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 18px/1.4em Open Sans;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-success-content h3:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h3:not([class*="forminator-"]) {
        margin-bottom: 20px;
        font: 700 18px/1.4em Open Sans;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h3:not([class*="forminator-"]):last-child {
        margin-bottom: 0
    }
}

.hustle-ui.module_id_1 .hustle-success-content h4:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 16px/1.4em Open Sans;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-success-content h4:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h4:not([class*="forminator-"]) {
        margin-bottom: 20px;
        font: 700 16px/1.4em Open Sans;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h4:not([class*="forminator-"]):last-child {
        margin-bottom: 0
    }
}

.hustle-ui.module_id_1 .hustle-success-content h5:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 14px/1.4em Open Sans;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-success-content h5:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h5:not([class*="forminator-"]) {
        margin-bottom: 20px;
        font: 700 14px/1.4em Open Sans;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h5:not([class*="forminator-"]):last-child {
        margin-bottom: 0
    }
}

.hustle-ui.module_id_1 .hustle-success-content h6:not([class*="forminator-"]) {
    margin: 0 0 10px;
    color: #ffffff;
    font: 700 12px/1.4em Open Sans;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-success-content h6:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h6:not([class*="forminator-"]) {
        margin-bottom: 20px;
        font: 700 12px/1.4em Open Sans;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content h6:not([class*="forminator-"]):last-child {
        margin-bottom: 0
    }
}

.hustle-ui.module_id_1 .hustle-success-content ol:not([class*="forminator-"]),
.hustle-ui.module_id_1 .hustle-success-content ul:not([class*="forminator-"]) {
    margin: 0 0 10px;
}

.hustle-ui.module_id_1 .hustle-success-content ol:not([class*="forminator-"]):last-child,
.hustle-ui.module_id_1 .hustle-success-content ul:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

.hustle-ui.module_id_1 .hustle-success-content li:not([class*="forminator-"]) {
    margin: 0 0 5px;
    color: #ffffff;
    font: 400 14px/1.45em Open Sans;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.hustle-ui.module_id_1 .hustle-success-content li:not([class*="forminator-"]):last-child {
    margin-bottom: 0;
}

.hustle-ui.module_id_1 .hustle-success-content ol:not([class*="forminator-"]) li:before {
    color: #ADB5B7
}

.hustle-ui.module_id_1 .hustle-success-content ul:not([class*="forminator-"]) li:before {
    color: #ADB5B7
}

@media screen and (min-width: 783px) {
    .hustle-ui:not(.hustle-size--small).module_id_1 .hustle-success-content li:not([class*="forminator-"]) {
        font: 400 14px/1.45em Open Sans;
        letter-spacing: 0px;
        text-transform: none;
        text-decoration: none;
    }
}

@media screen and (min-width: 783px) {

    .hustle-ui.module_id_1 .hustle-success-content ol:not([class*="forminator-"]),
    .hustle-ui.module_id_1 .hustle-success-content ul:not([class*="forminator-"]) {
        margin: 0 0 20px;
    }

    .hustle-ui.module_id_1 .hustle-success-content ol:not([class*="forminator-"]):last-child,
    .hustle-ui.module_id_1 .hustle-success-content ul:not([class*="forminator-"]):last-child {
        margin-bottom: 0;
    }
}

.hustle-ui.module_id_1 .hustle-layout .hustle-group-content blockquote {
    border-left-color: #38C5B5;
}

/* Add darkish overlay mask over main layout on small devices. */
@media screen and (max-width: 782px) {
    .hustle-ui.hustle_module_id_1[data-id="1"] .hustle-layout .hustle-layout-body:before {
        content: " ";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(10, 12, 25, 0.6);
    }
}

/* Make sure added mask does not overfloat outside main layout and main content does not get hidden behind on small devices. */
@media screen and (max-width: 782px) {

    .hustle-ui.hustle_module_id_1[data-id="1"] .hustle-layout .hustle-layout-body,
    .hustle-ui.hustle_module_id_1[data-id="1"] .hustle-layout .hustle-layout-content {
        position: relative;
    }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}